/* Custom CSS for takla */

.takla-subheader{
    color: #fff;
}

.takla-intro{
    letter-spacing: 6px !important;
}

.takla-email{
    display:block;
}

.contact-main a {
    display: block !important;
}

.takla-header{
    line-height: 12rem !important;
    font-size: 15.2rem !important;
}
.masonry {
    display: flex; /* Helps keep the bricks aligned */
    flex-wrap: wrap; /* Prevents breaking to a new line */
    width:100%
}

.masonry__brick {
    width: 25%;  /* Forces 4 columns */
    float: left; /* Ensures bricks align side by side */
    box-sizing: border-box; /* Prevents extra spacing issues */
    gap:0;
}




@media (max-width: 768px){
    .takla-header{
        font-size: 10rem !important;  
    }
    .takla-header br{
        display: block !important;
    }
    .masonry__brick, .grid-sizer {
        width: 50%; /* Switch to 2 columns on smaller screens */
    }
}

@media (max-width: 425px){
    .takla-header{
        font-size: 8rem !important;  
    }
}

@media (max-width: 320px){
    .takla-header{
        font-size: 5rem !important;  
        line-height: 6rem !important;
    }
}

@media screen and (max-width: 768px) {

}
